---
layout: default
title: Home
---
<h2>{{ site.tagline }}</h2>

<blockquote><p>A digitális és nem-digitális bölcsészetről, a klasszikus magyar irodalomról, olvasástörténetről…, szövegekről. Saját és linkelt tartalmak – nagyjából <a href="http://www.irodalmijelen.hu/2014-jul-29-1718/pergamen-tartosabb-mint-egy-szovegfajl" target="_blank">ennek a beszélgetésnek</a> a jegyében.</p></blockquote>

<hr/>

<div class="posts">
  {% for post in site.categories.lesebibliothek limit: 1 %}

  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }} • {{ post.tags | join: ', ' }}</span>

  {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}">Tovább</a>
  </div>

  {% endfor %}
</div>

<div class="posts">
  {% for post in site.categories.szovegek limit: 2 %}

  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }} • {{ post.tags | join: ', ' }}</span>

  {{ post.excerpt }} <a href="{{ post.url }}">Tovább</a>
  </div>

  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">régebbiek</a>
  {% else %}
    <span class="pagination-item older">régebbiek</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">újabbak</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">újabbak</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">újabbak</span>
  {% endif %}
</div> -->
